/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap');

/*VARIABLES*/
$navColorMain: rgba(27, 25, 25, 0.55);
$navColorSolid: #171717;
$navButtonColor: rgba(0, 0, 0, 0.75);
$navColorSeccondary: rgba(255, 255, 255, 1);
$navAccent: rgb(66, 172, 254);

/*font syntax
    'Roboto', sans-serif;
    'Caveat', cursive;

    'Permanent Marker', cursive;
    'Ubuntu', sans-serif;
    'Ubuntu Condensed', sans-serif;
*/
$navFontMain: 'Ubuntu', sans-serif;
$navFontSecondary: 'Permanent Marker', cursive;
$navFontCondensed: 'Ubuntu Condensed', sans-serif;

$navFontColor: white;
$navFontSize: 20px;
$sidebarFontSize: 25px;

/* NAV MENU */
nav{
    z-index: 104;
    background-color: $navColorSolid;
    display: grid;
    grid-template-columns: 1fr, 1fr;   //2fr, 1f;
    grid-template-rows: 7vh;
    grid-template-areas: 'main-nav game-info-nav';

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 7vh;
    align-items: center;

    .nav-button-container{
        grid-area: main-nav;
        display: flex;
        gap: 10px;
        height: 100%;

        align-items: center;

        .nav-logo-container{
            background-color: rgb(144, 3, 3);

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.25vh 0.5vh 0.25vh 0.5vh;
            width: 12vh;
            height: 100%;
            margin-right: 20px;

            img{
                height: 90%;
                width: auto;
                filter: invert(100%);
            }
        }
    }

    #navButton {
        font-family: $navFontCondensed;
        font-size: 1rem;
        padding: 0;
        height: 40px;
        width: 7vw;

        background-color: transparent;
        border-radius: 2px;
        border: 0px solid $navFontColor;

        &:hover {
            transition-duration: 0.25s;
            background-color: transparent;
            transform: scale(1.1);
            border: 2px solid $navFontColor;
        }

        &:hover a{
            transform: scale(1.1);
        }

        a{
            font-family: $navFontCondensed;
            text-decoration: none;
            color: $navFontColor; 
        }
    }
}

/* SIDEBAR MENU */
#buttonToggleSidebar {
    grid-area: game-info-nav;
    z-index: 105;
    font-family: $navFontCondensed;
    position: fixed;
    padding: 0;
    margin: 0;
    right: 2vw;
    font-size: 1rem;
    height: 40px;
    width: 9vw;
    color: $navColorSeccondary;
    background-color: transparent;
    text-align: center;
    border: 0px solid $navColorSeccondary;
    transition: 0.25s;
    &:hover{
        border: 2px solid $navAccent;
        color: $navAccent;
    }
}

//ENSURE ANCHOR TAG COLOR//
a:link,
a:visited,
a:hover,
a:active {
  color: $navFontColor; /* Replace with your desired color value */
  text-decoration: none;
}


 /* RESPONSIVE -- MOBILE DESIGN */
@media only screen and (max-width: 900px){
    nav {
        height: 7vh;
        width: 100vw;
        #navButton {
            height: 40px;
            margin: 5px;
            font-size: 15px;
            width: 80px;
            border-radius: 7px;
        }
    }

    #buttonToggleSidebar {
        z-index: 117;
        transform: rotate(90deg);
        font-size: 15px;
        top: 50vh;
        right: -80.5px;
        border-radius: 0px 0px 20px 20px;
        width: 180px;

        &:hover {
            border: 0px;
        }
    }
}
