$bgColor: #171717;

@keyframes make-scrollbar {
    0%{
        overflow-y: hidden;
    }
    100%{
        overflow-y: auto;
    }
}

body{
    overflow-x: hidden;
    background-color: $bgColor;
    animation: make-scrollbar 1s linear 4.5s 1 normal both;
}