// By Jacob Miller

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap');

/*VARIABLES*/
$colorMain: rgb(17, 17, 17); //#484848
$colorSeccondary: rgba(255, 255, 255, 1);
$colorButton: rgba(0, 0, 0, 0);
$accent: rgba(66, 172, 254);

$fontMain: 'Ubuntu', sans-serif;
$fontSecondary: 'Permanent Marker', cursive;
$fontCondensed: 'Ubuntu Condensed', sans-serif;

$fontP-mobile: calc(1rem + 1vw);
$fontLH-mobile: calc(1rem + 1.5vw);


$fontP-desktop: calc(0.5rem + 1vw);
$fontLH-desktop: calc(0.5rem + 1.5vw);


$fontColor: white;
$bgColor: #171717;

@keyframes intro-animFade {//logo and article fade
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

// MOBILE DESIGN //
//PRELOAD CONFIG
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.hero-container{
    margin-top: 7vh; //disabled on desktop due to parallax conflict
    grid-area: page-hero;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero";

    .hero-text{
        z-index: 3;
        grid-area: hero;
        height: 65%;
        width: 60%;
        font-size:1em;
        font-family: $fontCondensed;
        color: $fontColor;
        margin: 10px 10px;

        opacity: 0;
        animation: intro-animFade 0.7s linear 6s 1 normal forwards;
    }

    video{
        z-index: 10;
        grid-area: hero;
        width: 100%;
        height: auto;
        background: $bgColor;
        display: hidden;

        object-fit:cover;
        object-position: 50% 50%;
    }

    img{
        grid-area: hero;
        width: 100%;
        height: 77vh;//83.7vh;

        object-fit: cover;
        object-position: 10%;
    }
    .upper-gradient{
        //margin-top: 7vh;
        display: block;
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 30vh;
        top: 0;
        background-image: linear-gradient($bgColor, rgba(0, 0, 0, 0));
    }

    .lower-gradient{
        margin-top: 37.5vh;
        display: block;
        z-index: 11;
        grid-area: hero;
        width: 100%;
        height: 40vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0), $bgColor);
    }
    
    //IDS for alternating hero images//
    //config default z-index
    #heroStory{
        object-position: 82%;
        z-index: 1;
        //display: none;
    }
    #heroRides{
        object-position: 50%;
        z-index: 1;
        //display: none;
    }
}
//IDs for each container
#categoryStory{
    display: none;
    img{
        max-width: 400px;
    }
}
#categoryRides{
    display: none;
}
#categoryFeatures{
   display: block; 
}

 // DESKTOP DESIGN //
@media only screen and (min-width: 900px),
    only screen and (orientation: landscape){
    .hero-container{
        padding-top: 0; //0 padding due to parallax conflict
        video{
            z-index: 10;
            grid-area: hero;
            width: 100%;
            height: 83.7vh;
            background: $bgColor;
            display: block;
    
            object-fit:cover;
            object-position: 0 0;
        }

        img{
            height: 83.7vh;
        }

        .lower-gradient{
            margin-top: 44.3vh;
        }

        #heroStory{
            object-position: 0%;
        }
    }

    .hero-container{
        .hero-text{
            font-size: 2em;
        }
    }
 }