/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&family=Ubuntu+Condensed&display=swap");
/*VARIABLES*/
@keyframes anim-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-disappear-returnButton {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes anim-slide {
  100% {
    left: 0;
  }
}
@keyframes anim-select-button {
  100% {
    font-size: calc(1rem + 100%);
    text-decoration: overline;
    color: rgb(66, 172, 254);
  }
}
@keyframes anim-deselect-button {
  100% {
    font-size: calc(1rem + 25%);
    text-decoration: none;
  }
}
/*font syntax
    'Roboto', sans-serif;
    'Caveat', cursive;

    'Permanent Marker', cursive;
    'Ubuntu', sans-serif;
    'Ubuntu Condensed', sans-serif;
*/
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

#loadingMsg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 300;
}
#loadingMsg p {
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
  text-align: center;
}

footer {
  animation: intro-animFade 0.7s linear 6s 1 normal forwards;
}

.return-button {
  z-index: 200;
  display: none;
  position: fixed;
  bottom: 6vh;
  right: 25px;
  animation: intro-animFade 0.7s linear 0s 1 normal forwards;
  opacity: 0;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 3.5px solid rgb(66, 172, 254);
  border-radius: 30px;
}
.return-button i {
  background-color: transparent;
  color: rgb(66, 172, 254);
}
.return-button:hover {
  transition-duration: 0.25s;
  border-color: white;
  transform: scale(1.2);
}
.return-button:hover i {
  transition-duration: 0.25s;
  color: white;
}

#copyright-statement p {
  font-size: 15px;
}

.background {
  display: none;
}

.page-main-container {
  opacity: 0;
  animation: anim-appear 1s linear 4.5s 1 normal both;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "page-hero" "page-buttons" "primary-content";
}

.button-container {
  z-index: 12;
  grid-area: page-buttons;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  background-color: #171717;
}
.button-container button {
  padding: 5vw;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.button-container button:hover {
  transition: 0.25s;
  color: rgb(66, 172, 254);
  text-decoration: overline;
}
.button-container .isSelected {
  animation: anim-select-button 0.1s linear 0s 1 normal forwards;
}
.button-container .notSelected {
  animation: anim-deselect-button 0.1s linear 0s 1 normal forwards;
}

.category-container {
  overflow-x: hidden;
  background-color: #171717;
}
.category-container .synopsis-container {
  display: flex;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  margin-top: 0;
  margin-bottom: 50px;
}
.category-container .synopsis-container h1, .category-container .synopsis-container h2 {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: calc(1rem + 1.5vw);
  text-align: center;
}
.category-container .synopsis-container p {
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 15px;
}
.category-container .content-container {
  grid-area: primary-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  padding-left: 10px;
  padding-right: 10px;
}
.category-container .content-container section {
  margin-top: 0px;
  grid-area: section;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(1fr 3fr);
  grid-template-areas: 
      "topic ."
      "article article";*/
}
.category-container .content-container section h2, .category-container .content-container section h3 {
  grid-area: topic;
  color: white;
  font-family: "Permanent Marker", cursive;
  text-align: left;
  font-size: calc(1rem + 1.5vw);
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  margin-top: 3vw;
  margin-bottom: 0vw;
  padding-left: 10px;
}
.category-container .content-container section h3 {
  padding-bottom: 15px;
}
.category-container .content-container section #banner {
  border: 2px solid purple;
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -1vh;
}
.category-container .content-container section article {
  grid-area: article;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  padding-left: 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content 4fr;
  grid-template-areas: "title img" "info img";
}
.category-container .content-container section article h2, .category-container .content-container section article h3, .category-container .content-container section article h4 {
  vertical-align: bottom;
  grid-area: title;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: calc(1rem + 1.5vw);
  grid-column-start: 1;
  grid-column-end: 2;
  width: 95%;
  padding: 0vw 0px;
}
.category-container .content-container section article p {
  grid-area: info;
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  width: 95%;
  padding: 5px 1rem;
  padding-right: 10px;
}
.category-container .content-container section article img {
  grid-area: img;
}
.category-container .content-container section article #photoL {
  width: 80%;
  transform: rotate(-3deg);
}
.category-container .content-container section article #photoR {
  width: 80%;
  transform: rotate(2deg);
}
.category-container .content-container section article #standardImg {
  margin-top: 10%;
  width: 80%;
}
.category-container .content-container section article #vectorImg {
  filter: invert(100%);
  max-height: 200px;
}
.category-container .content-container section #featureItem {
  grid-template-rows: auto;
}
.category-container .content-container section #featureItem img {
  min-height: 100px;
  margin-right: 2vw;
  margin-bottom: 25%;
}
.category-container p {
  font-size: calc(1rem + 1vw);
  line-height: calc(1rem + 1.5vw);
}

#categoryStory {
  display: none;
}
#categoryStory img {
  max-width: 400px;
}

#categoryRides {
  display: none;
}

#categoryFeatures {
  display: block;
}

@media only screen and (min-width: 900px), only screen and (orientation: landscape) {
  nav {
    transform: translateZ(0px) scale(1);
  }
  .return-button {
    background-color: transparent;
    bottom: 5vh;
    right: 5%;
  }
  .parallax-gradient {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 500px;
    top: 110vh;
    background-image: linear-gradient(#171717, rgba(0, 0, 0, 0));
  }
  .background {
    position: absolute;
    animation: anim-appear 1s linear 6s 1 normal both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin-top: 140vh;
    z-index: -1;
  }
  .background img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .background .fill {
    position: absolute;
    background-color: #171717;
    width: 100vw;
    height: 100%;
    bottom: -110vh;
  }
  .page-main-container {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "page-hero page-hero page-hero" "page-buttons page-buttons page-buttons" "l-gradient primary-content r-gradient";
  }
  .page-main-container .l-gradient {
    height: auto;
    width: auto;
    grid-area: l-gradient;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #171717);
  }
  .page-main-container .r-gradient {
    height: auto;
    width: auto;
    grid-area: r-gradient;
    background-image: linear-gradient(to right, #171717, rgba(0, 0, 0, 0));
  }
  .page-main-container .button-container {
    height: 27vh;
  }
  .page-main-container .button-container button {
    padding: 1.5vw;
    padding-top: 2.5vh;
  }
  .page-main-container p {
    font-size: calc(0.5rem + 1vw);
    line-height: calc(0.5rem + 1.5vw);
  }
  .hero-container .hero-text {
    font-size: 2em;
  }
}
nav {
  z-index: 200;
}/*# sourceMappingURL=main.css.map */